@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Julius+Sans+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #000000;
    /* Purple background across the entire page */
    font-family: 'Josefin Sans', sans-serif;
    /* Default font */
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    /* Ensures padding and border are included in the element's total width and height */
  }
}

@font-face {
  font-family: 'bengy';
  src: url('/beng/1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Enhances text visibility while font is loading */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-shine {
    animation: shine 2s infinite;
  }

  .animate-flash {
    animation: flash 1.5s infinite alternate;
  }

  .animate-pulse-glow {
    animation: pulse-glow 2s infinite;
  }

  @keyframes shine {
    0% {
      transform: translateX(-150%);
    }

    50% {
      transform: translateX(150%);
    }

    100% {
      transform: translateX(150%);
    }
  }

  @keyframes flash {

    0%,
    100% {
      opacity: 0;
    }

    25%,
    75% {
      opacity: 1;
    }
  }

  @keyframes pulse-glow {

    0%,
    100% {
      box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.7);
    }

    50% {
      box-shadow: 0 0 30px 10px rgba(255, 255, 0, 1);
    }
  }


}